.home-wrapper {
  background-color: $body-color;
  @include pad(em(12));
  // @include pad(0 default 0 0);
}

.home-item {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("barweight.jpg"));
  background-size: cover;
  background-position: center center;
  @include pad(default);
  border-bottom: 1rem solid $body-color;
  border-top: 1rem solid $body-color;
  position: relative;
  overflow: hidden;

  p {
    font-size: $font-size-3;
  }

  &:hover {
    .home-item-content {
      bottom: 0;
    }
  }
}

.home-item-content {
  position: absolute;
  bottom: -101%;
  right: 0;
  left: 0;
  background-color: rgba($primary, 0.8);
  color: white;
  @include pad(default);
  // display: none;
  // @include transform(translateY(100%));
  @include transition(bottom $transition ease-in-out);
}

.home-row {
  height: 49vh;
  @include span-columns(12);
  @include omega();
}

.home-item-1 {
  @include span-columns(6 of 12);
  height: 49vh;
}

.home-item-2,
.home-item-3 {
  @include span-columns(6 of 12);
  height: 24.5vh;
  margin-right: 0;
}

.home-item-4,
.home-item-5,
.home-item-6 {
  @include span-columns(3 of 9);
  height: 49vh;
}

.home-item-6 {
  background-image: none;
  color: $secondary;
  @include pad(default default default 0);

  h2,
  h3 {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.home-item-2 {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("skip-rope.jpg"));
}

.home-item-3 {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("kettle-bell-one.jpg"));
}

.home-item-4 {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("kettle-bell-one.jpg"));
}

.home-item-5 {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("mixed-weights.jpg"));
}

@include media($tablet) {
  .home-item {
    display: none;
  }

  .home-row {
    height: auto;
  }

  .home-item-6 {
  }

  .home-wrapper {
    @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("kettle-bell-one.jpg"));
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home-item-6 {
    color: white;
    display: block;
    height: auto;
    min-height: 75vh;
    background-color: transparent;
    @include pad();
    @include span-columns(8);
    border: none;
  }

  // .home-item-1,
  // .home-item-2 {
  //   height: 25vh;
  // }
}

