button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  border-color: transparent;
  @include transition(all $transition ease);
  border-radius: 0;
  float: right;
  height: 52px;
  font-weight: bold;

  &:hover {
    @include opacity(0.7);
  }
}

button {
  background: none;
  border: 0;
  color: $type-light;
  line-height: 1.5;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

.btn,
.btn-default {
  background-color: $primary;
  color: $secondary;
  padding: 6px 44px;

  &:hover {
    border-color: $secondary;
    background-color: darken($primary, 0.1);
  }
}

.btn-back {
  background-color: $secondary;
  color: white !important;
  border-radius: none !important;
  padding: 6px 44px;
}