body {
  color: $type-light;
  font-family: $font-secondary;
  font-size: $font-size-base;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: $line-height-base;
}

svg {
  fill: $type-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1 {
  font-family: $font-primary;
  line-height: 1.1;
  margin-bottom: 1rem;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  line-height: $line-height-base;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}

h6,
.h6 {
  font-size: $font-size-h6;
}

.logo {
  font-size: $font-size-xl;
}

p,
ol,
ul,
table,
td,
tr {
  margin-top: 0;
  font-size: $font-size-md;
  line-height: $line-height-computed;
  font-family: $font-secondary;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  border-bottom: $link-border;
  color: $link;
  text-decoration: none;
  transition: all $transition ease;

  svg {
    fill: $link;
    transition: fill $transition ease;
  }

  &:hover {
    color: $link-hover;
    border-color: transparent;
    text-decoration: none;
    background-color: transparent;

    svg {
      fill: $link-hover;
    }
  }

  &:visited {
    color: $link-visited;
  }
}

hr {
  border: 0;
  height: 1px;
}

img {
  display: block;
}

::selection,
::-moz-selection {
  background-color: $primary;
  color: $secondary;
}

.p-large {
  line-height: 123%;
  font-size: $font-size-3;
}

