.wrapper {
  height: 100vh;
  @include outer-container;
  max-width: 100%;
}

.content-wrapper,
.home-wrapper,
.sidebar-container {
  overflow: hidden;
}

.inner-wrapper {
  @include fill-parent();
  @include row(table);
  margin-bottom: 63px;
}
.content-wrapper,
.home-wrapper {
  @include span-columns(9);
}

.home-wrapper {
  @include reset-display;
  // @include pad();
  // margin-left: 0;
}

.content-wrapper {
  @include pad();
  margin-top: 2.357%;
  background: darken($teal, 46);
}

.content-half {
  @include span-columns(5);
  @include shift(3);

  @include media($tablet) {
    @include span-columns(8);
    @include shift(0);
  }
}

.sidebar-container {
  position: fixed;
  @include span-columns(3);
  @include linear-gradient(to right, $primary, $primary, $primary, rgba($secondary, 0.4));
}

.home-row {
}

.home-row {
  height: 50vh;
}


.sidebar {
  // @include pad(default);
}

.footer {
  background-color: $secondary;
  color: white;
  height: 10vh;
  padding: $nav-padding;
  // max-height: 75px;
}

.header {
}

.nav {
  height: 90vh;
  @include align-content(flex-start);
  @include display(flex);
  @include flex-direction(column);
  // @include justify-content(flex-start);

  a {
    @include pad(default);
  }
}

.wrapper {
  position: relative;

}

@include media($tablet) {
  .content-wrapper,
  .home-wrapper,
  .sidebar-container {
    @include span-columns(8);
  }
}