@import "neat/neat-helpers";

$visual-grid : true;

// Grid
// Responsive breakpoints

$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-width $mobile-size 4);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);