.body-background {
  @include background-image(linear-gradient(rgba($primary,0.2), rgba($primary,0.2)), image-url("skip-rope.jpg"));
}

.content-half {
  position: relative;
  background-color: rgba(black, 0.9);
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
  }
}

.dib {
  display: inline-block;
}

hr {
  color: $primary;
}