//
// Variables
// -------------------------------------

// {size} denotes a square element
// {height} denotes the height of a rectangular element
// {width} denotes the width of a rectangular element


//
// Terminology
// -------------------------------------

$terminology-size:   "xs" "sm" "md" "lg" "xl";

//
// Colour palette
// -------------------------------------
$teal:        #32dac4;
$grey:        #3d4e5a;
$dark-grey:   #303e48;

$primary:         $teal;
$secondary:       $dark-grey;
$secondary-light: $grey;

$type-dark:   $secondary;
$type:        $secondary-light;
$type-light:  $secondary-light;
//
// Selected colours
// -------------------------------------

$base-dark:   #747474;
$base:        $dark-grey;
$base-light:  #b2b2b2;

$social-facebook:  #3a5a97;
$social-google:    #eb4619;
$social-twitch:    #6541a5;
$social-twitter:   #4aaad0;

$link:             $base;
$link-hover:       lighten($base, 20%);
$link-visited:     $secondary-light;
$link-border:      1px solid $teal;

$link-nav:         $secondary;

$body-color:       lighten($secondary, 70%);


//
// Selected colours
// -------------------------------------


//
// Fonts
// -------------------------------------

@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300|Lato:300,400,700,900);

$arial:               Arial, Helvetica, sans-serif;

$font-primary:        "Oswald", $arial;
$font-secondary:      "Lato", serif, $arial;

$font-size-1:          2rem;
$font-size-2:       1.85rem;
$font-size-3:        1.7rem;
$font-size-4:       1.55rem;
$font-size-5:        1.4rem;
$font-size-6:       1.25rem;

$font-size-xl:      4rem; // TODO: spread out a bit
$font-size-lg:      2.45rem;
$font-size-md:         1rem;
$font-size-sm:        .8rem;
$font-size-xs:        .7rem;

$font-size-base:          16px !default;
$font-size-large:         22px !default; // ~18px
$font-size-small:         12px !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            1.067em !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.47 !default; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px


// Animations

$transition: 0.36s;

$nav-padding: 2.5rem 2.5rem 2.5rem 3.5rem;


// Grid
// Responsive breakpoints

$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(max-width $mobile-size 4);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);