<div class="masonry">
  <div class="home-row">
    <div class="home-item home-item-1">
      <a href="">
        <h2></h2>
        <p></p>
      </a>
    </div>
    <div class="home-item home-item-2">
      <a href="">
        <h2></h2>
        <p></p>
      </a>
    </div>
    <div class="home-item home-item-3">
      <a href="">
        <h2></h2>
        <p></p>
      </a>
    </div>
  </div>
  <div class="home-row">
    <div class="home-item home-item-4">
      <a href="">
        <h2></h2>
        <p></p>
      </a></div>
    <div class="home-item home-item-5">
      <a href="">
        <h2></h2>
        <p></p>
      </a></div>
    <div class="home-item home-item-6">
      <h2>Hello</h2>
      <h3>We do one thing. <br>Track your progress.</h3>
      <p class="intro-text">Our focus is to allow you to easily track your workouts while you’re at the gym. No more spread sheets or notebooks. We have the best mobile app in the market.</p>
    </div>
  </div>
</div>