<div class="masonry">
  <div class="home-row">
    <div class="home-item home-item-1">
      <div class="home-item-content">
        <h2>How it Works</h2>
        <p>Add an activity to your workout library. Create a workout. Track your progress.</p>
      </div>
    </div>
    <div class="home-item home-item-2">
      <div class="home-item-content">
        <h2>Super Title</h2>
        <p>This is super duper awesome desciprtion of what we're doing with this section.</p>
      </div>
    </div>
    <div class="home-item home-item-3">
      <div class="home-item-content">
        <h2>Super Title</h2>
        <p>This is super duper awesome desciprtion of what we're doing with this section.</p>
      </div>
    </div>
  </div>
  <div class="home-row">
    <div class="home-item home-item-4">
      <div class="home-item-content">
        <h2>Super Title</h2>
        <p>This is super duper awesome desciprtion of what we're doing with this section.</p>
      </div>
    </div>
    <div class="home-item home-item-5">
      <div class="home-item-content">
        <h2>Super Title</h2>
        <p>This is super duper awesome desciprtion of what we're doing with this section.</p>
      </div>
    </div>
    <div class="home-item home-item-6">
      <h3>We do one thing. <br>Track your progress.</h3>
      <p>Our focus is to allow you to easily track your workouts while you’re at the gym. No more spread sheets or notebooks. We have the best mobile app in the market.</p>
      <div class="visible-xs">
        <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default'  %>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-right'  %>
      </div>
    </div>
  </div>
</div>