// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.activity-item {
	box-sizing: border-box;
	float: left;
	width: 25%;
	height: 200px;
	border: 1px solid black;
}