.nav,
.sidebar {
  font-size: $font-size-2;
  font-family: $font-primary;
  text-transform: uppercase;

  li {
    border-bottom: 1px solid rgba($secondary-light, 0.2);
    border-top: 1px solid rgba($secondary, 0.2);

    .active,
    a:hover {
      color: white;
      font-weight: bold;
      background-color: rgba($secondary, 0.5);
    }
  }
}

.nav li a {
  padding: $nav-padding;
}


.logo-junkie {
  text-transform: uppercase;
  text-align: center;
  border: 3px solid rgba($secondary, 0.5);
  margin: 3.5rem;
  padding: 2.5rem 2rem 3.5rem !important;
  font-size: 3.5rem;

  &:hover {
    color: white;
    background-color: rgba($secondary, 0.5);
    text-decoration: none;
    border-color: white;
  }
}

.icon-bar {
  width: 5px;
  height: 5px;
  display: block;
  background-color: rgba($secondary, 0.5);
}

@include media($tablet) {
  .sidebar-container {
    position: relative;
  }

  .nav,
  .home-row,
  .footer {
    position: default;
  }

  .header {

  }

  .nav,
  .home-row {
    height: auto;
  }

  .logo-junkie {
    position: absolute;
    left: 2.9rem;
    width: 15%;
    margin: .3rem;
    font-size: 2rem;
    padding: .25rem !important;
    margin: 1rem 1rem 1rem 0;
  }

  .navbar-header {
    margin-bottom: 0;
  }

  .navbar-toggle {
    margin-top: 3px;
    margin-bottom: 0;
  }

  .collapse {
    display: none;
  }
}
