<footer class="footer">
  <div class="sidebar">
    <p class="copyright">FitJunkies &copy; 2015 <br>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
      <% end %>
    </p>
  </div>
</footer>