<footer class="footer">
  <div class="sidebar">
    <p class="copyright">FitJunkies &copy; 2015 <br>
      Designed & Developed By <%= link_to 'Robyn', "http://robynlarsen.ca/", target: '_blank' %> & <%= link_to 'Simon', "http://proudfeet.io/", target: '_blank' %> <br>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>
      <% end %>

    </p>

  </div>
</footer>