<header class="header">
  <nav class="nav sidebar" role="navigation">
    <%= link_to 'FitJunkies', root_path, class: 'logo', title: 'Fit Junkies' %>
    <div class="navbar-header visible-xs">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <ul class="nav">
      <li class="active"><%= link_to "Workouts", workouts_path %></li>
      <li class=""><%= link_to "Workouts", workouts_path %></li>
      <% if user_signed_in? %>
        <li><a href="#">Edit Profile</a></li>
      <% else %>
        <li><a href="#">Sign In</a></li>
      <% end %>
    </ul>
  </nav>
</header>